.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.table {
	display: table;
	margin: 0 auto;
}

#menu-outer {
	height: 84px;	
}

.center {
  margin-left:auto; 
  margin-right:auto;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
  border-spacing: 5px;

}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
  }
  
ul#horizontal-list li {
		display: inline;
	}

.HeadApp{
    text-align: center;
    color : chocolate;
    pointer-events: none;
    font-family: 'Prompt', sans-serif;
  }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}